.sinfobox{
    display:flex;
    flex-direction:column;
    padding:2rem;
    justify-content:center;
    margin:auto;
    gap:0.5rem;
    box-shadow:0 0 5px rgb(132, 138, 201);
    background-color:rgb(175, 183, 255);
    font-family:Arial, Helvetica, sans-serif;
}
.sinfobox span{
    width:20vw;
    color:rgb(36, 40, 83);
}

.sinfobox button{
    padding:0.5rem;
    width:70%;
    align-self:center;
    margin-top:1rem;
    border-radius:10px;
     background-color:rgb(240, 230, 239);
}