.chapbox{
 box-shadow:0 0 1px grey;
    display:flex;
    flex-direction:column;
    gap:0.5rem;
    padding:1rem;
}

.chapbox .chaplst{
  border-bottom:1px solid black;
}

.chapbox .chaplst a{
  float:right;
  text-decoration:none;
  color:rgb(15, 108, 48);
  font-weight:600;
  box-shadow:0 0 1px grey;
  border-radius:5px;
  padding:5px;
}

.chapbox .chaplst a:hover{
 background-color:rgb(80, 192, 155);
 color:rgb(239, 244, 248);
}